---
import Backdrop from '~/components/common/Backdrop.astro';
import Experience from '~/components/common/Experience.astro';
import Socials from '~/components/common/Socials.astro';
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <main class="relative bg w-full flex justify-center">
    <Backdrop />

    <div class="relative flex flex-col justify-start items-start container w-full p-10 gap-16 z-5">
      <Socials />

      <div class="max-w-full w-[460px] flex-grow-0 flex-shrink-0">
        <p class="text-[16px] font-semibold text-left text-white">
          Hi, I’m
          <span
            class="font-semibold text-left"
            style={{
              background: 'linear-gradient(90.09deg, #D2CDD5 10.62%, #8BC3B4 80.6%, #86D3FF 100.47%)',
              '-webkit-background-clip': 'text',
              '-webkit-text-fill-color': 'transparent',
              'background-clip': 'text',
              'text-fill-color': 'transparent',
            }}>Artem Stelzer</span
          >, a software engineer based in Israel 🇮🇱 <br />
          Currently, I’m working as a Senior Software Engineer at <a
            class="underline"
            href="https://karmanow.com"
            target="_blank"
            rel="noreferrer">Karma</a
          > developing next-gen AI shopping assistant. I have a wide knowledge in web-development, scraping, data analytics
          and BI.
        </p>
      </div>

      <ol class="relative w-[460px] max-w-full flex flex flex-col">
        <Experience jobName="Karma" period="2022 Feb - Present">Senior Software Engineer</Experience>
        <Experience jobName="digiwit.agency" period="2021 Jun - 2022 Jan">Co-founder, Technical consultant</Experience>
        <Experience jobName="similarbid" period="2021 Nov - 2022 May">Software Engineer</Experience>
        <Experience jobName="Soyuzgruz" period="2019 Jan - 2020 Oct">Lead Frontend Engineer</Experience>
      </ol>
    </div>
  </main>
</Layout>
