---
---

<div class="flex flex-col justify-start items-start gap-5">
  <div class="flex gap-[5px]">
    <a href="https://github.com/shtelzerartem" target="_blank" rel="noopener noreferrer" aria-label="Github">
      <svg width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M10.0216 1.66675C5.43079 1.66675 1.70996 5.38758 1.70996 9.97841C1.70996 13.6501 4.09079 16.7659 7.39413 17.8659C7.80996 17.9409 7.95996 17.6851 7.95996 17.4651C7.95996 17.2676 7.95329 16.7442 7.95079 16.0517C5.63829 16.5534 5.14996 14.9367 5.14996 14.9367C4.77329 13.9767 4.22746 13.7209 4.22746 13.7209C3.47329 13.2051 4.28496 13.2167 4.28496 13.2167C5.11996 13.2751 5.55746 14.0734 5.55746 14.0734C6.29913 15.3434 7.50413 14.9767 7.97579 14.7642C8.05163 14.2267 8.26829 13.8601 8.50496 13.6526C6.65996 13.4434 4.71996 12.7301 4.71996 9.54425C4.71996 8.63841 5.04413 7.89508 5.57329 7.31508C5.48913 7.10425 5.20163 6.25841 5.65579 5.11508C5.65579 5.11508 6.35329 4.89091 7.94079 5.96591C8.60579 5.78175 9.31496 5.68925 10.0208 5.68591C10.7283 5.68925 11.4383 5.78175 12.1008 5.96591C13.6891 4.89008 14.3858 5.11508 14.3858 5.11508C14.84 6.25841 14.555 7.10425 14.4683 7.31508C15.0016 7.89508 15.3216 8.63758 15.3216 9.54425C15.3216 12.7384 13.38 13.4401 11.5283 13.6459C11.8241 13.9026 12.0908 14.4092 12.0908 15.1842C12.0908 16.2959 12.0808 17.1926 12.0808 17.4651C12.0808 17.6876 12.2291 17.9459 12.6533 17.8642C15.955 16.7626 18.3333 13.6492 18.3333 9.97841C18.3333 5.38758 14.6125 1.66675 10.0216 1.66675Z"
          fill="white"></path>
      </svg>
    </a>

    <a href="https://www.linkedin.com/in/stelzerartem/" target="_blank" rel="noopener noreferrer" aria-label="LinkedIn">
      <svg width="24" height="24" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M16.6667 2.5H3.33333C2.8725 2.5 2.5 2.87333 2.5 3.33333V16.6667C2.5 17.1267 2.8725 17.5 3.33333 17.5H16.6667C17.1275 17.5 17.5 17.1267 17.5 16.6667V3.33333C17.5 2.87333 17.1275 2.5 16.6667 2.5ZM6.94917 15.2808H4.7225V8.1225H6.94917V15.2808ZM5.83583 7.145C5.1225 7.145 4.54583 6.56667 4.54583 5.855C4.54583 5.14333 5.12167 4.565 5.83583 4.565C6.5475 4.565 7.12583 5.1425 7.12583 5.855C7.12583 6.5675 6.5475 7.145 5.83583 7.145ZM15.2817 15.2808H13.0575V11.8C13.0575 10.97 13.0425 9.9025 11.9008 9.9025C10.7425 9.9025 10.5667 10.8075 10.5667 11.7417V15.2817H8.34417V8.12333H10.4775V9.10167H10.5083C10.8042 8.53917 11.5308 7.94583 12.6117 7.94583C14.865 7.94583 15.2808 9.4275 15.2808 11.3558V15.2808H15.2817Z"
          fill="white"></path>
      </svg>
    </a>
  </div>
  <div
    class="self-stretch flex-grow-0 flex-shrink-0 h-[2px]"
    style={{
      background: 'linear-gradient(to right, #87768d 0%, #8bc3b4 80.1%, #86d3ff 100%)',
      boxShadow: '0px 0px 20px 0 rgba(255,255,255,0.25)',
    }}
  >
  </div>
</div>
