@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-page {
    color: var(--aw-color-text-page);
  }

  .text-muted {
    color: var(--aw-color-text-muted);
  }

  .bg {
    background-color: var(--aw-color-bg-page);
  }
}
